@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --fw-small: 300;
  --fw-bold: 600;

  font-weight: 400;  
  font-family : 'Poppins', sans-serif;

}

.nav-bar {
  padding: 22px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);

}

section {
  padding: 26px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.group-images {
  margin-bottom: 32px;
  width: 100%;
  align-self: center;
}

.hero .header {
  font-size: 36px;
  font-weight: var(--fw-bold);
  margin-bottom: 16px;
}

.hero .text {
  color: #222222;
  font-size: 16px;
  font-weight: var(--fw-small);
  line-height: 17.6px;
  max-width: 320px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card {
  width: 175px;
  font-size: 12px;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column;
}

.card-image {
  width: 100%;
  border-radius: 9px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-price {
  margin-top: auto;
}

.bold {
  font-weight: bold;
}

.gray {
  color: #918E9B;
}

.card-stats {
  display: flex;
  align-items: center;
}

.stats-star {
  height: 14px;
}

@media (min-width:821px) {
  .group-images {   
    max-width: 400px;    
  }  
}